.hero {
    display: flex;
    justify-content: center;
    padding: 0 2rem;
    gap: 1rem;
    align-items: center;
    min-height: 500px;
}

.heroLeft {
    flex: 1;
    padding: 2rem 0;
}

.heroRight {
    flex: 1;
}

.heroLeft h1 {
    font-size: 4.5rem;
    font-weight: 700;
    color: #dd2020;
    letter-spacing: 3px;
    line-height: 100%;
}

.heroLeft h3 {
    font-size: 1.6rem;
    margin-bottom: .5rem
}

.heroLeft p {
    font-size: .9rem;
    color: grey;
    line-height: 150%;
    letter-spacing: 1px;
    margin-bottom: 3rem;
}

.buttons {
    display: flex;
    gap: 1rem;
}

.buttons .btn {
    font-size: .9rem;
    background-color: #dd2020;
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 100px;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: -10px 10px 10px #dd20201a;
}

.buttons .btn:nth-child(2) {
    background-color: #fffb28;
    color: black;
    box-shadow: -10px 10px 10px #fffb281a;
}

.heroRight img {
    width: 100%;
    height: 100%;
    min-width: 300px;
}

/* blogs section */
.blogsSection {
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
}

.blogsSection>h2 {
    font-size: 3rem;
    text-align: center;
    font-weight: 500;
    color: #dd2020;
    margin-bottom: 4rem;
}

.blogs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.exploreBtn {
    all: unset;
    margin: 4rem auto 0;
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    cursor: pointer;
}

/* mailing */
.mailing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    min-height: 300px;
    background-color: #dd2020;
    border-radius: 10px;
    margin: 0 0 4rem;
}

.mailing h2 {
    color: white;
    font-size: 2rem;
    text-align: center;
}

.mailing h4 {
    color: white;
    text-align: center;
    margin-bottom: 2rem;
    font-size: .8rem;
}

.mailingForm {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: .5rem;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
}

.mailingForm input {
    all: unset;
    width: 100%;
    font-size: .8rem;
}

.mailingForm button {
    font-size: .8rem;
    background-color: #dd2020;
    color: white;
    padding: .5rem 1rem;
    cursor: pointer;
    border-radius: 10px;
    width: max-content;
    align-self: center;
}

@media screen and (max-width: 900px) {
    .heroLeft h1 {
        font-size: 3rem;
    }

    .heroLeft h3 {
        font-size: 1.2rem;
    }

    .heroLeft p {
        font-size: .7rem;
        text-align: justify;
    }
}

@media screen and (max-width: 700px) {
    .heroRight {
        display: none;
    }

    .heroLeft {
        text-align: center;
    }

    .heroLeft h1 {
        margin-bottom: .5rem;
    }

    .heroLeft h3 {
        margin-bottom: .5rem;
    }

    .heroLeft p {
        margin-bottom: 2rem;
    }

    .buttons {
        justify-content: center;
    }

    .buttons .btn {
        padding: .5rem .75rem;
        font-size: .8rem;
    }
}