.spinnerWrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 100001;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    position: relative;
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    rotate: calc(var(--circle) * 18deg);
}

.circle::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: #dd2020;
    height: 10%;
    width: 10%;
    border-radius: 100%;
    animation: scaleCircle 1s linear infinite;
    animation-delay: calc(0.05s * var(--circle));
}

@keyframes scaleCircle {
    0% {
        scale: 0.1;
    }

    80%,
    100% {
        scale: 1.1;
    }
}